# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
build/

third_party/boost_1_66_0.tar.gz
third_party/boost_1_66_0/

third_party/openssl/
third_party/openssl-1.1.1s/
third_party/openssl-1.1.1s.tar.gz

third_party/libsrtp-2.4.2.tar.gz
third_party/libsrtp-2.4.2

third_party/quiche/

third_party/FlameGraph/

